/* General Comment Styles */
.comment-header {
    margin-bottom: 10px;
    
}

.comment-user {
    font-weight: bold;
    font-size: 1.1rem;
    color: #930ac9;
    font-family: Geneva;
    
}

.comment-content {
    margin-bottom: 10px;
    
}

.comment-text {
    font-size: 1rem;
    color: #333;
    font-family: Geneva;
    
}

.comment-timestamp {
    font-size: 0.85rem;
    color: #999;
    font-family: Geneva;
    
}

/* Like Button */
.comment-footer {
    display: flex;
    justify-content: flex-end;
}

/* Reply Styles */
.comment-replies {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reply-header {
    margin-top: 15px;
    margin-bottom: 5px;
}

.reply-user {
    font-weight: bold;
    font-size: .9rem;
    color: #930ac9;
    font-family: Geneva;
}

.reply-content {
    margin-bottom: 5px;
}

.reply-text {
    font-size: .9rem;
    color: #555;
    font-family: Geneva;
    word-wrap: break-word; /* Ensures long words break */
    white-space: normal;
    overflow-wrap: break-word;
}

/* Adjusting Image sizes */
.comment-header img, .reply-header img {
    border-radius: 50%;
}

