/* Base Styles for the Post Component */
.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-card {
    width: 500px;
    border: none;
    background-color: #dcd0ff;
    border-radius: 12px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px 15px #dfd5f0;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #eee;
}

.user-profile-img {
    border-radius: 50%;
    margin-right: 12px;
}

.user-info .user-name {
    font-weight: 600;
    font-size: 1rem;
    font-family: Corier New;
}

.user-info .user-username {
    font-size: 0.9rem;
    color: #6f42c1;
    font-family: Corier New;
}

.post-body {
    padding: 16px;
}

.post-media {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.media-img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

.post-caption {
    font-size: 2rem;
    color: #333;
    line-height: 1.5;
    font-family: Corier New;
}

.post-footer {
    padding: 12px;
    text-align: right;
    color: #999;
    font-size: 0.85rem;
    font-family: Corier New;
}
