#bg-image {
    filter: blur(10px);
}

.btn-primary {
    background-color: #8f6ccc !important;
    border-color: #8f6ccc !important;
}

.btn-primary:hover {
    background-color: #6a5396 !important;
    border-color: #6a5396 !important;
}