.page-container {
    display: flex;  
    min-height: 100vh;
    width: 65vw;       
    padding: 20px; 
    margin-top: 5vh;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: Corier New;
    margin-bottom: 20px;
    color: #333;
}
