.navbar {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 0 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 100;
}

.branding {
    display: flex;
    align-items: center;
    height: 100%;
}

.branding-gif {
    height: 100%;
    object-fit: contain;
}

.nav-icons {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: -5vw;
}

.nav-item-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.nav-item-custom .link {
    font-size: 1.5rem;
    color: #333333;
    text-decoration: none;
    text-align: center;
    font-family: Corier New;
}

.nav-item-custom:hover {
    background-color: #6f42c1;
    transform: scale(1.05);
}

.nav-item-custom:hover .link {
    color: #ffffff;
}

.nav-item-custom.active .link {
    color: #6f42c1;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.3s ease;
}

.logout:hover {
    background-color: #6f42c1;
    transform: scale(1.1);
}

.logout.animate-click {
    animation: shrink-click 0.5s ease-in-out;
}

@keyframes shrink-click {
    0% {
        transform: scale(1);
        background-color: #6f42c1;
    }

    50% {
        transform: scale(0.5);
        background-color: #ff6347;
    }

    100% {
        transform: scale(1);
        background-color: #6f42c1;
    }
}

.logout-link {
    font-size: 1.5rem;
    color: #333333;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s ease;
}

.logout-link:hover {
    color: #ffffff;
}