/* Container to hold both post and comments */
.post-page-container {
    max-width: 95%; /* Increased width for a wider container */
    margin-top: 12.5vh;
    width: 100%;
}

/* Flex container for the post and comments */
.post-container {
    display: flex;
    flex-wrap: wrap;
}

/* Post section styling */
.post-left {
    flex: 6; /* Take up more space, increased from 2 */
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    align-content: start;
}

/* Comments section styling */
.post-right {
    flex: 3;
    max-height: 600px;
    width: 100vw;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}
